<?xml version="1.0" encoding="UTF-8"?>
<web-app version = "3.1"
         xmlns = "http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation = "http://xmlns.jcp.org/xml/ns/javaee
                               http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         metadata-complete="true"
>
    <!-- web-app version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
-->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.xml</param-value>
    </context-param>
    <filter>
        <filter-name>Connection</filter-name>
        <filter-class>com.randomlogic.rlpay.application.filters.Connection</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Connection</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextAttributeListener, ServletContextListener</description>
        <listener-class>com.randomlogic.rlpay.application.listeners.ContextListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener, HttpSessionAttributeListener, HttpSessionListener</description>
        <listener-class>com.randomlogic.rlpay.application.listeners.SessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>com.randomlogic.rlpay.view.manager.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stdErr</servlet-name>
        <servlet-class>com.randomlogic.rlpay.application.monitor.StdErr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Security</servlet-name>
        <servlet-class>com.randomlogic.rlpay.view.manager.Security</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogManager</servlet-name>
        <servlet-class>com.randomlogic.rlpay.view.manager.LogManager</servlet-class>
    </servlet -->

    <!-- servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stdErr</servlet-name>
        <url-pattern>/genError.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Security</servlet-name>
        <url-pattern>/admin/Security</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogManager</servlet-name>
        <url-pattern>/admin/LogManager</url-pattern>
    </servlet-mapping -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <!-- resource-ref>
        <description>Oracle Weblogic MySQL JDBC Data Source</description>
        <res-ref-name>jdbc/rlapi</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <mapped-name>jdbc/rlapi</mapped-name>
    </resource-ref>
    <security-constraint>
        <display-name>Methods</display-name>
        <web-resource-collection>
            <web-resource-name>All</web-resource-name>
            <description>All resources</description>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>PUT</http-method>
            <http-method>HEAD</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
    </security-constraint -->
</web-app>
